
body {

  background-image: url("/assets/images/grassmatt.JPG");
  background-size: cover;
 align: center;
}

h1 {
font-size: 600%;
font-family: 'Berkshire Swash', cursive;

text-align: center;
color: 	#FFF8DC;

}

h2 {
font-size: 200%;
font-family: 'Berkshire Swash', cursive;
text-align: center;
color: 	#FFF8DC;

}

#name {
width: 400px;
align: center;
}

div  {
width: 400px;
align: center;
}

#textspace {
width: 400px;
align: center;
}

#newcharacterpage , .nctext {
font-size: 150% ;
color: 	black !important;
font-family: 'Kalam', cursive

}

table {
background-color: rgb(85, 107, 47);
border:5px ridge #70380f;
color: 	#FFF8DC;
font-family: 'Kalam', cursive;


}

th {
font-size: 200%;
text-align: center;
border:5px ridge #70380f  !important ;
font-family: 'Kalam', cursive;
}


th, td {
font-size: 150%;
text-align: center;
border:5px ridge #70380f  !important ;
font-family: 'Kalam', cursive;
}

a:link {
font-family: 'Kalam', cursive;


    color: #FFF8DC;
}


a:visited {
font-family: 'Kalam', cursive;


    color: #FFF8DC;
}
.subbutton
{
font-size: 150%;
font-family: 'Kalam', cursive;
}
.dropit  {

border:5px ridge #70380f  !important ;
}

.text-center {
font-size: 75%;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
}
