
body {

  background-image: url("/assets/images/grassmatt.JPG");
  background-size: cover;
 align: center;
}

h1, h2 {
text-align: center;
color: 	#FFF8DC;
}

#name {
width: 400px;
align: center;
}

div  {
width: 400px;
align: center;
}


#newcharacterpage , .nctext {
color: 	black;
}

table {
background-color: rgb(85, 107, 47);
border:5px ridge #70380f;
color: 	#FFF8DC;

}

th, td {
text-align: center;
border:5px ridge #70380f  !important ;

}

a:link {
    color: #FFF8DC;
}


a:visited {
    color: #FFF8DC;
}
.text-center {
    text-align: center;
}