@(characters : List[GameCharacter])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/custom.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

</head>
<h1>Caves and Chimera</h1>
<body>
<div class="container-fluid">
    <table id="1" class = "table">
        <thead>
                <tr>
                    <th>Active Characters</th>
                </tr>
        </thead>
        <tbody>

               @for(character <- characters){
               <tr>
                    <td><a href="character/@character.getGameCharacterID"> @character.getCharacterName()</a></td>
               </tr>
               }
        </tbody>
     </table>

    <form action="newCharacter">
        <div class="text-center">
          <input type = "submit" class="btn btn-success" value = "New Character">
        </div>
    </form>
    </div>

</body>
</html>
