@(details : CharacterDetail, equipments : List[CharacterEquipment], gears : List[CharacterGear])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=deviceml>dth, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
</head>
<h1>@details.getCharacterName()</h1>
<body>

<p></p>
Character Info:
<div class="container">
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Level</th>
            <th>Race</th>
            <th>Class</th>
            <th>Background</th>
            <th>Alignment</th>

        </tr>
        </thead>
        <tbody>

            <td>@details.getGameCharacterID()</td>
            <td>@details.getCharacterLevel()</td>
            <td>@details.getCharacterRaceName()</td>
            <td>@details.getCharacterClassName()</td>
            <td>@details.getCharacterBackgroundName()</td>
            <td>@details.getAlignmentName()</td>

        </tbody>
    </table>
</div>
<p></p>
Skills:
<div class="container">
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>Strength</th>
            <th>Strength Mod</th>
            <th>Dexterity</th>
            <th>Dex Mod</th>
            <th>Constitution</th>
            <th>Constitution Mod</th>
            <th>Intelligence</th>
            <th>Intel Mod</th>
            <th>Wisdom</th>
            <th>Wisdom Mod</th>
            <th>Charisma</th>
            <th>Charisma Mod</th>
            <th>Passive Perception</th>
        </tr>
        </thead>
        <tbody>
            <td>@details.getStrength</td>
            <td>@details.getStrengthMod</td>
            <td>@details.getDexterity</td>
            <td>@details.getDexMod</td>
            <td>@details.getConstitution</td>
            <td>@details.getConMod</td>
            <td>@details.getIntelligence</td>
            <td>@details.getIntelMod</td>
            <td>@details.getWisdom</td>
            <td>@details.getWisMod</td>
            <td>@details.getCharisma</td>
            <td>@details.getCharMod</td>
            <td>@details.getPassiveWisdomPerception</td>
        </tbody>
    </table>
     <p></p>
    Weapons:
    <div class="container">
        <table class = "table table-striped">
            <thead>
            <tr>
                <th>Weapon Name</th>
                <th>Damage</th>
                <th>Weight</th>
                <th>Properties</th>
                <th>Cost</th>
            </tr>
            </thead>
            <tbody>
            @for(equipment <- equipments){
            <tr>
            <td>@equipment.getEquipmentName</td>
                <td>@equipment.getEquipmentDamage</td>
                <td>@equipment.getEquipmentWeight</td>
                <td>@equipment.getEquipmentProperties</td>
                <td>@equipment.getEquipmentCost</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
    Gear:
    <div class="container">
        <table class = "table table-striped">
            <thead>
            <tr>
                <th>Item</th>
                <th>Weight</th>
                <th>Cost</th>
            </tr>
            </thead>
            <tbody>
            @for(gear <- gears){
            <tr>
                <td>@gear.getGearName</td>
                <td>@gear.getGearWeight</td>
                <td>@gear.getGearCost</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>
</body>
</html>