@(details : CharacterDetail, equipments : List[CharacterEquipment],
gears : List[CharacterGear], spells : List[CharacterSpell],
notes : List[CharacterNotes], equipmentList : List[Equipment], gearList : List[Gear], spellList : List[Spell])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=deviceml>dth, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
</head>
<h1>@details.getCharacterName()</h1>
<body>

<p></p>
Character Info:
<div class="container">
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>Level</th>
            <th>Race</th>
            <th>Class</th>
            <th>Background</th>
            <th>Alignment</th>

        </tr>
        </thead>
        <tbody>


            <td>@details.getCharacterLevel()</td>
            <td>@details.getCharacterRaceName()</td>
            <td>@details.getCharacterClassName()</td>
            <td>@details.getCharacterBackgroundName()</td>
            <td>@details.getAlignmentName()</td>

        </tbody>
    </table>
</div>
<p></p>
Skills:
<div class="container">
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>Strength</th>
            <th>Modifier</th>
        </tr>
        </thead>
        <tbody>
            <td>@details.getStrength</td>
            <td>@details.getStrengthMod</td>
        </tbody>
    </table>
</div>
    <div class="container">
        <table class = "table table-striped">
            <thead>
            <tr>
                <th>Dexterity</th>
                <th>Modifier</th>
            </tr>
            </thead>
            <tbody>
            <td>@details.getDexterity</td>
            <td>@details.getDexMod</td>
            </tbody>
        </table>
    </div>
        <div class="container">
            <table class = "table table-striped">
                <thead>
                <tr>
                    <th>Constitution</th>
                    <th>Modifier</th>
                </tr>
                </thead>
                <tbody>
                <td>@details.getConstitution</td>
                <td>@details.getConMod</td>
                </tbody>
            </table>
        </div>
            <div class="container">
                <table class = "table table-striped">
                    <thead>
                    <tr>
                        <th>Intelligence</th>
                        <th>Modifier</th>
                    </tr>
                    </thead>
                    <tbody>
                    <td>@details.getIntelligence</td>
                    <td>@details.getIntelMod</td>
                    </tbody>
                </table>
            </div>

                <div class="container">
                    <table class = "table table-striped">
                        <thead>
                        <tr>
                            <th>Wisdom</th>
                            <th>Modifier</th>
                        </tr>
                        </thead>
                        <tbody>
                        <td>@details.getWisdom</td>
                        <td>@details.getWisMod</td>
                        </tbody>
                    </table>
                </div>

                    <div class="container">
                        <table class = "table table-striped">
                            <thead>
                            <tr>
                                <th>Charisma</th>
                                <th>Modifier</th>
                            </tr>
                            </thead>
                            <tbody>
                            <td>@details.getCharisma</td>
                            <td>@details.getCharMod</td>
                            </tbody>
                        </table>
                    </div>

                        <div class="container">
                            <table class = "table table-striped">
                                <thead>
                                <tr>
                                    <th>Passive Perception</th>
                                </tr>
                                </thead>
                                <tbody>
                                <td>@details.getPassiveWisdomPerception</td>
                                </tbody>
                            </table>
                        </div>
     <p>


     </p>

    Weapons:
    <div class="row">
        <div class="col-sm-6">
            <div class="container">
                <table class = "table table-striped">
                    <thead>
                    <tr>
                        <th>Weapon Name</th>
                        <th>Damage</th>
                        <th>Weight</th>
                        <th>Properties</th>
                        <th>Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for(equipment <- equipments){
                    <tr>
                    <td>@equipment.getEquipmentName</td>
                        <td>@equipment.getEquipmentDamage</td>
                        <td>@equipment.getEquipmentWeight</td>
                        <td>@equipment.getEquipmentProperties</td>
                        <td>@equipment.getEquipmentCost</td>
                    </tr>
                    }
                    </tbody>
                </table>
                <form method="post" action="/AddWeapon">
                    <input type="hidden" name="gameCharacterID" value="@details.getGameCharacterID">
                <select name="equipmentID">
                    @for(weapons <- equipmentList){
                    <option value="@weapons.getEquipmentID()">@weapons.getEquipmentName()</option>
                    }
                </select>
                    @CSRF.formField
                    <td><input type="Submit" value="Add"> </td>
                </form>
            </div>

        </div>
    </div>


    <p>


    </p>
    Gear:
    <div class="container">
        <table class = "table table-striped">
            <thead>
            <tr>
                <th>Item</th>
                <th>Weight</th>
                <th>Cost</th>
            </tr>
            </thead>
            <tbody>
            @for(gear <- gears){
            <tr>
                <td>@gear.getGearName</td>
                <td>@gear.getGearWeight</td>
                <td>@gear.getGearCost</td>
            </tr>
            }
            </tbody>
        </table>
        <form method="post" action="/AddGear">
            <input type="hidden" name="gameCharacterID" value="@details.getGameCharacterID">
            <select name="gearID">
                @for(newGear <- gearList){
                <option value="@newGear.getGearID()">@newGear.getGearName()</option>
                }
            </select>
            @CSRF.formField
            <td><input type="Submit" value="Add"> </td>
        </form>
    </div>
    <p>


    </p>
    Spells:
    <div class="container">
        <table class = "table table-striped">
            <thead>
            <tr>
                <th>Spell</th>
                <th>Level</th>
                <th>Casting Time</th>
                <th>Duration</th>
                <th>Range</th>
                <th>Attack/Save</th>
                <th>Damage/Effect</th>
            </tr>
            </thead>
            <tbody>
            @for(spell <- spells){
            <tr>
                <td>@spell.getSpellName</td>
                <td>@spell.getSpellLevel</td>
                <td>@spell.getCastingTime</td>
                <td>@spell.getDuration</td>
                <td>@spell.getRange_Area</td>
                <td>@spell.getAttack_Save</td>
                <td>@spell.getDamage_Effect</td>
            </tr>
            }
            </tbody>
        </table>
        <form method="post" action="/AddSpell">
            <input type="hidden" name="gameCharacterID" value="@details.getGameCharacterID">
            <select name="spellID">
                @for(newSpell <- spellList){
                <option value="@newSpell.getSpellID()">@newSpell.getSpellName()</option>
                }
            </select>
            @CSRF.formField
            <td><input type="Submit" value="Add"> </td>
        </form>
    </div>
    <p>

    </p>
    Background Notes:
    <div class="container">
        <table class = "table table-striped">
            <thead>
            <tr>
                <th>Personality Traits</th>
                <th>Ideals</th>
                <th>Bonds</th>
                <th>Flaws</th>
            </tr>
            </thead>
            <tbody>
            @for(note <- notes){
            <tr>
                <td>@note.getPersonalityTraits</td>
                <td>@note.getIdeals</td>
                <td>@note.getBonds</td>
                <td>@note.getFlaws</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
<form method="get" action="/activecharacters">
    <input type = "submit" value="HOME">
</form>

</body>
</html>