@(details : CharacterDetail)
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=deviceml>dth, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
</head>
<h1>Caves and Chimera</h1>
<body>

<div class="container">
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Level</th>
            <th>Race</th>
            <th>Class</th>
            <th>Background</th>

        </tr>
        </thead>
        <tbody>

            <td>@details.getGameCharacterID()</td>
            <td>@details.getCharacterName()</td>
            <td>@details.getCharacterLevel()</td>
            <td>@details.getCharacterRaceName()</td>
            <td>@details.getCharacterClassName()</td>
            <td>@details.getCharacterBackgroundName()</td>

        </tbody>
    </table>
</div>
</body>
</html>