@(races : List[CharacterRace], classes : List[CharacterClass], backgrounds : List[CharacterBackground],
alignments : List[CharacterAlignment], equipments : List[Equipment], locations : List[EquipmentLocation], gears : List[Gear], spells : List[Spell])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/custom.css">
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <title>New Character</title>

</head>
<h1>Create Your New Character:</h1>
<body id="newcharacterpage">
<div class="container">
<form method="post">
    <table class="table">
        <thead>
            <tr>
             <th>Character Name: </th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td class="nctext">
                <input type="text" name="characterName">
            </td>
        </tr>
        </tbody>
    </table>


    <h2>Character Info: </h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Background</th>
                    <th>Alignment</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td class="nctext">
                    <input type="text" name="characterLevel">
                </td>

                <td class="nctext">
                    <select name="characterRaceID">
                        @for(race <- races){
                        <option value="@race.getCharacterRaceID()">@race.getCharacterRaceName()</option>
                        }
                    </select>
                </td>

                <td class="nctext">
                    <select name="characterClassID">
                        @for(classs <- classes){
                        <option value="@classs.getCharacterClassID()">@classs.getCharacterClassName()</option>
                        }
                    </select>
                </td>
                <td class="nctext">
                    <select name="characterBackgroundID">
                        @for(background <- backgrounds){
                        <option value="@background.getCharacterBackgroundID()">@background.getCharacterBackgroundName()</option>
                        }
                    </select>
                </td>

                <td class="nctext">
                    <select name="alignmentID">
                        @for(alignment <- alignments){
                        <option value="@alignment.getAlignmentID()">@alignment.getAlignmentName()</option>
                        }
                    </select>
                </td>
            </tr>
            </tbody>
        </table>


            <br>
    <h2>Character Skills:</h2>
            <table class= "table">
                <thead>
                <tr>
                    <th>Strength</th>
                    <th>Strength Mod</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="nctext">
                        <input type="text" name="strength">
                    </td>
                    <td class="nctext">
                        <input type="text" name="strengthMod">
                    </td>
                </tr>
                </tbody>
            </table>

    <table class= "table">
        <thead>
        <tr>
            <th>Dexterity</th>
            <th>Dex Mod</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td class="nctext">
            <input type="text" name="dexterity">
        </td>
        <td>
            <input type="text" name="dexMod">
        </td>
        </tr>
        </tbody>
    </table>

    <table class= "table">
        <thead>
        <tr>
            <th>Constitution</th>
            <th>Const. Mod</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td class="nctext">
            <input type="text" name="constitution">
        </td>
        <td class="nctext">
            <input type="text" name="conMod">
        </td>
        </tr>
        </tbody>
    </table>

    <table class= "table">
        <thead>
        <tr>
            <th>Intelligence</th>
            <th>Intel. Mod</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td class="nctext">
            <input type="text" name="intelligence">
        </td>
        <td class="nctext">
            <input type="text" name="intelMod">
        </td>
        </tr>
        </tbody>
    </table>

    <table class= "table">
        <thead>
        <tr>
            <th>Wisdom</th>
            <th>Wisdom Mod</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td class="nctext">
            <input type="text" name="wisdom">
        </td>
        <td class="nctext">
            <input type="text" name="wisMod">
        </td>
        </tr>
        </tbody>
    </table>

    <table class= "table">
        <thead>
        <tr>
            <th>Charisma</th>
            <th>Char. Mod</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td class="nctext">
            <input type="text" name="charisma">
        </td>
        <td class="nctext">
            <input type="text" name="charMod">
        </td>
        </tr>
        </tbody>
    </table>

    <table class= "table">
        <thead>
        <tr>
            <th>Passive Perception</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td class="nctext">
            <input type="text" name="passiveWisdomPerception">
        </td>
        </tr>
        </tbody>
    </table>

<h2>Weapons:</h2>
<table class= "table">
    <thead>
    <tr>
    <th>Weapon</th>
    <th>Weapon Location</th>
    </thead>
    <tbody>
    <tr>
    <td class="nctext">
        <select name="equipmentID">
            @for(equipment <- equipments){
            <option value="@equipment.getEquipmentID()">@equipment.getEquipmentName()</option>
            }
        </select>
    </td>
    <td class="nctext">
        <select name="equipmentLocationID">
            @for(location <- locations){
            <option value="@location.getEquipmentLocationID()">@location.getEquipmentLocationName()</option>
            }
        </select>
    </td>
    </tr>
    </tbody>
</table>
    <br>


    <h2>Gear:</h2>
    <table class= "table">
        <thead>
        <tr>
        <th>Gear</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="nctext">
                <select name="gearID">
                    @for(gear <- gears){
                    <option value="@gear.getGearID()">@gear.getGearName()</option>
                    }
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <br>

    <h2>Spells:</h2>
    <table class= "table">
        <thead>
            <tr>
             <th>Spell</th>
            </tr>
        </thead>
        <tbody>
    <tr>
        <td class="nctext">
            <select name="spellID">
                @for(spell <- spells){
                <option value="@spell.getSpellID()">@spell.getSpellName()</option>
                }
            </select>
        </td>
    </tr>
        </tbody>
    </table>

    <h2>Background Notes:</h2>
        <table class= "table">
            <thead>
            <tr>
                <th>Personality Traits</th>
                <th>Ideals</th>
                <th>Bonds</th>
                <th>Flaws</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="nctext"><textarea name="personalityTraits" cols="30" rows="10"></textarea></td>
                <td class="nctext"><textarea name="ideals" cols="30" rows="10"></textarea></td>
                <td class="nctext"><textarea name="bonds" cols="30" rows="10"></textarea></td>
                <td class="nctext"><textarea name="flaws" cols="30" rows="10"></textarea></td>
            </tr>
            </tbody>
        </table>
    @CSRF.formField
    <input type="Submit"  class="btn btn-success" value = "Add Character">
</form>
<form method="get" action="/activecharacters">
    <input type = "submit"  class="btn btn-success" value="HOME">
</form>
</div>
</body>
</html>