@(races : List[CharacterRace], classes : List[CharacterClass], backgrounds : List[CharacterBackground],
alignments : List[CharacterAlignment], equipments : List[Equipment])
@import helper._
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<h1>Create Your New Character:</h1>
</head>
<body>

<form method="post">
    <table border="1">
        <th>Character Name: </th>
        <tr>
            <td>
                <input type="text" name="Name">
            </td>
        </tr>
    </table>

    <h4>Character Info: </h4>
        <table border="1">
            <th>Level</th>
            <th>Race</th>
            <th>Class</th>
            <th>Background</th>
            <th>Alignment</th>

            <tr>
                <td>
                    <input type="text" name="Level">
                </td>

                <td>
                    <select name="characterRaceID">
                        @for(race <- races){
                        <option value="@race.getCharacterRaceID()">@race.getCharacterRaceName()</option>
                        }
                    </select>
                </td>

                <td>
                    <select name="characterClassID">
                        @for(classs <- classes){
                        <option value="@classs.getCharacterClassID()">@classs.getCharacterClassName()</option>
                        }
                    </select>
                </td>
                <td>
                    <select name="characterBackgroundID">
                        @for(background <- backgrounds){
                        <option value="@background.getCharacterBackgroundID()">@background.getCharacterBackgroundName()</option>
                        }
                    </select>
                </td>

                <td>
                    <select name="alignmentID">
                        @for(alignment <- alignments){
                        <option value="@alignment.getAlignmentID()">@alignment.getAlignmentName()</option>
                        }
                    </select>
                </td>
            </tr>
        </table>

            <br>
            Character Skills:
            <table border="1">
                <thead>
                <tr>
                    <th>Strength</th>
                    <th>Strength Mod</th>
                </tr>
                </thead>
                <tbody>
                    <td>
                        <input type="text" name="Strength">
                    </td>
                    <td>
                        <input type="text" name="Strength Mod">
                    </td>
                </tbody>
            </table>

    <table border="1">
        <thead>
        <tr>
            <th>Dexterity</th>
            <th>Dex Mod</th>
        </tr>
        </thead>
        <tbody>
        <td>
            <input type="text" name="Dexterity">
        </td>
        <td>
            <input type="text" name="Dexterity">
        </td>
        </tbody>
    </table>

    <table border="1">
        <thead>
        <tr>
            <th>Constitution</th>
            <th>Const. Mod</th>
        </tr>
        </thead>
        <tbody>
        <td>
            <input type="text" name="Constitution">
        </td>
        <td>
            <input type="text" name="Const. Mod">
        </td>
        </tbody>
    </table>

    <table border="1">
        <thead>
        <tr>
            <th>Intelligence</th>
            <th>Intel. Mod</th>
        </tr>
        </thead>
        <tbody>
        <td>
            <input type="text" name="Intelligence">
        </td>
        <td>
            <input type="text" name="Intel Mod">
        </td>
        </tbody>
    </table>

    <table border="1">
        <thead>
        <tr>
            <th>Wisdom</th>
            <th>Wisdom Mod</th>
        </tr>
        </thead>
        <tbody>
        <td>
            <input type="text" name="Wisdom">
        </td>
        <td>
            <input type="text" name="Wisdom Mod">
        </td>
        </tbody>
    </table>

    <table border="1">
        <thead>
        <tr>
            <th>Charisma</th>
            <th>Char. Mod</th>
        </tr>
        </thead>
        <tbody>
        <td>
            <input type="text" name="Charisma">
        </td>
        <td>
            <input type="text" name="Char. Mod">
        </td>
        </tbody>
    </table>

    <table border="1">
        <thead>
        <tr>
            <th>Passive Perception</th>
        </tr>
        </thead>
        <tbody>
        <td>
            <input type="text" name="Passive Perception">
        </td>
        </tbody>
    </table>

    <h4>Weapons</h4>
<table>
    <th>Weapon</th>
    <tr>
    <td>
        <select name="equipmentID">
            @for(equipment <- equipments){
            <option value="@equipment.getEquipmentID()">@equipment.getEquipmentName()</option>
            }
        </select>
    </td>
    </tr>
</table>
    Background Notes:
        <table class = "table table-striped">
            <thead>
            <tr>
                <th>Personality Traits</th>
                <th>Ideals</th>
                <th>Bonds</th>
                <th>Flaws</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" name="Personality Traits"></td>
                <td><input type="text" name="Ideals"></td>
                <td><input type="text" name="Bonds"></td>
                <td><input type="text" name="Flaws"></td>
            </tr>
            </tbody>
        </table>
    @CSRF.formField
    <td><input type="Submit" value = "Add Character"></td>
</form>
</body>
</html>